html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

main {
    padding: 2em;
    max-width: 70vw;
    margin-left: auto;
}

h1 {
    font-weight: 300;
}

nav {
    position: fixed;
    left: 0;
    max-width: 20vw;
    padding: 0.5em 1em;
}

nav h1 {
    font-size: 32px;
    margin: 0.5em auto;
}

.nav-link {
    display: block;
    border-top: 2px solid grey;
    color: black;
    text-decoration: none;
    font-size: 1.25em;
    padding: 0.75em 1em;
}
.nav-link:hover {
    background-color: #B2EBED;
}

main h1 {
    padding-top: 0.5em;
    margin: 0;
    font-size: 48px;
}
main h1:first-of-type {
    padding-top: 0;
}

p, li {
    font-size: 20px;
}

.codebox {
    background-color: rgb(200, 200, 200);
    padding: 0.25em 1em;
    font-size: 1.2em;
}

.codebox p {
    margin: 0;
}

@media (max-width: 1000px) {
    nav {
        position: relative;
        max-width: 100%;
        max-height: 30vh;
        overflow: auto;
        margin: 0;
        padding: 0;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
    }

    nav h1 {
        text-align: center;
    }

    main {
        padding: 2em;
        max-width: 100%;
        margin-left: auto;
    }
}